body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 117, 117);   
    
}

.card
{
    width: 300px;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 20px;
    box-shadow: 15px 15px 17px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: darkgray;   
}

img
{
    border: 5px solid #000;
    border-radius: 20px ; 
}

h2
{
    margin-bottom: 5px;
}

h3
{
    margin-bottom: 5px;
}

p
{
    margin-bottom: 20px;
    margin-top: 3px;
}
